.abadreyjomargmailcom,
.p {
  margin: 0;
}
.abadreyjomargmailcom-639602 {
  position: absolute;
  top: 143px;
  left: 1075px;
  display: inline-block;
  width: 252px;
  height: 74px;
}
.i {
  font-weight: 700;
}
.fashionfusion {
  position: absolute;
  top: 146px;
  left: 0;
  display: inline-block;
  width: 219px;
  height: 71px;
}
.clothes-hanger-solid-icon-illu {
  position: absolute;
  top: 0;
  left: 44px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.facebook-1-icon,
.instagram-1-icon,
.youtube-1-icon {
  position: absolute;
  top: 137px;
  left: 525px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.instagram-1-icon,
.youtube-1-icon {
  left: 613px;
}
.instagram-1-icon {
  left: 701px;
}
.footer {
  position: absolute;
  top: 4453px;
  left: 57px;
  width: 1327px;
  height: 217px;
  text-align: left;
  font-size: 20px;
}
.blank-line,
.php,
.plain-black-shorts {
  margin: 0;
}
.plain-black-shorts-container {
  position: absolute;
  top: 1322px;
  left: 1003px;
  display: inline-block;
  width: 288px;
  height: 175px;
}
.blank-line1,
.blank-line2,
.oversized-white-t-shirt,
.php1 {
  margin: 0;
}
.oversized-white-t-shirt-container {
  position: absolute;
  top: 1322px;
  left: 505px;
  display: inline-block;
  width: 411px;
  height: 241px;
}
.blank-line3,
.blank-line4,
.oversized-black-t-shirt,
.php2 {
  margin: 0;
}
.oversized-black-t-shirt-container {
  position: absolute;
  top: 1321px;
  left: 25px;
  display: inline-block;
  width: 411px;
  height: 241px;
}
.blank-line5,
.oversized-striped-white,
.php3 {
  margin: 0;
}
.oversized-striped-white-container {
  position: absolute;
  top: 597px;
  left: 20px;
  display: inline-block;
  width: 411px;
  height: 241px;
}
.blank-line6,
.blank-line7,
.oversized-kakhi-t-shirt,
.php4 {
  margin: 0;
}
.oversized-kakhi-t-shirt-container {
  position: absolute;
  top: 596px;
  left: 462px;
  display: inline-block;
  width: 411px;
  height: 241px;
}
.blank-line8,
.php5,
.regular-sized-black {
  margin: 0;
}
.regular-sized-black-container {
  position: absolute;
  top: 597px;
  left: 882px;
  display: inline-block;
  width: 411px;
  height: 241px;
}
.champion-s700-hoodie-black-3-2-icon,
.khak-short-sleeve-1-1-icon {
  position: absolute;
  top: 138px;
  left: 542px;
  width: 250px;
  height: 375px;
  object-fit: cover;
}
.champion-s700-hoodie-black-3-2-icon {
  left: 962px;
}
.black-short-sleeve-1-1-1,
.blackshort-1-icon,
.white-short-sleeve-1-1-icon {
  position: absolute;
  top: 892px;
  left: 105px;
  width: 250px;
  height: 375px;
  object-fit: cover;
}
.blackshort-1-icon,
.white-short-sleeve-1-1-icon {
  left: 542px;
}
.blackshort-1-icon {
  left: 1003px;
  height: 389px;
}
.blacksleeve-1-icon,
.khakipants-1-icon,
.navy-1-icon {
  position: absolute;
  top: 1617px;
  left: 100px;
  width: 250px;
  height: 375px;
  object-fit: cover;
}
.blacksleeve-1-icon,
.navy-1-icon {
  left: 558px;
}
.blacksleeve-1-icon {
  left: 1022px;
}
.blackandwhite-1-icon,
.sowing-field-pants-black-1-1-icon,
.whitesleeve-1-icon {
  position: absolute;
  top: 2270px;
  left: 100px;
  width: 250px;
  height: 375px;
  object-fit: cover;
}
.blackandwhite-1-icon,
.sowing-field-pants-black-1-1-icon {
  left: 558px;
}
.blackandwhite-1-icon {
  top: 2282px;
  left: 1016px;
}
.blank-line10,
.blank-line9,
.khaki-pants,
.php6 {
  margin: 0;
}
.khaki-pants-100000-container {
  position: absolute;
  top: 2079px;
  left: 20px;
  display: inline-block;
  width: 411px;
  height: 241px;
}
.blank-line11,
.blank-line12,
.oversized-navy-t-shirt,
.php7 {
  margin: 0;
}
.oversized-navy-t-shirt-container {
  position: absolute;
  top: 2078px;
  left: 497px;
  display: inline-block;
  width: 411px;
  height: 204px;
}
.black-long-sleeve,
.blank-line13,
.blank-line14,
.php8 {
  margin: 0;
}
.black-long-sleeve-container {
  position: absolute;
  top: 2078px;
  left: 961px;
  display: inline-block;
  width: 411px;
  height: 241px;
}
.blank-line15,
.blank-line16,
.php9,
.white-long-sleeve {
  margin: 0;
}
.white-long-sleeve-container {
  position: absolute;
  top: 2755px;
  left: 20px;
  display: inline-block;
  width: 411px;
  height: 241px;
}
.blank-line17,
.blank-line18,
.php10,
.regular-black-pants {
  margin: 0;
}
.regular-black-pants-container {
  position: absolute;
  top: 2755px;
  left: 492px;
  display: inline-block;
  width: 411px;
  height: 247px;
}
.black-and-white,
.blank-line19,
.blank-line20,
.php11 {
  margin: 0;
}
.black-and-white-container,
.popular {
  position: absolute;
  top: 2754px;
  left: 942px;
  display: inline-block;
  width: 411px;
  height: 241px;
}
.popular {
  top: 0;
  left: 0;
  font-size: 48px;
  text-align: left;
  width: 314px;
  height: 117px;
}
.stripe-1-icon {
  position: absolute;
  top: 146px;
  left: 100px;
  width: 250px;
  height: 367px;
  object-fit: cover;
}
.body {
  position: absolute;
  top: 1241px;
  left: 74px;
  width: 1372px;
  height: 3002px;
}
.clothes-hanger-solid-icon-illu1 {
  position: absolute;
  top: 125px;
  left: 80px;
  width: 150px;
  height: 150px;
}
.search-interface-symbol-1-icon {
  position: absolute;
  top: 184px;
  left: 1302px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.home,
.welcome-to-my {
  position: absolute;
  top: 185px;
  left: 39px;
  display: inline-block;
  width: 232px;
  height: 50px;
}
.welcome-to-my {
  top: 184px;
  left: 545px;
  width: 346px;
}
.cover-1-icon {
  position: absolute;
  height: 73.66%;
  top: 26.34%;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 1440px;
  object-fit: cover;
}
.clothes-hanger-solid-icon-illu2 {
  position: absolute;
  top: 0;
  left: 631px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.fashion-fushion,
.where-style-meets {
  position: absolute;
  display: inline-block;
}
.fashion-fushion {
  top: 631px;
  left: 371px;
  font-size: 64px;
  color: #fff;
  width: 717px;
  height: 258px;
}
.where-style-meets {
  top: 968px;
  left: 400px;
  color: #d4ba93;
  width: 658px;
  height: 157px;
}
.blank-line21,
.shop1 {
  margin: 0;
}
.shop {
  position: absolute;
  top: 791px;
  left: 592px;
  display: inline-block;
  color: #fff;
  width: 253px;
  height: 98px;
}
.header-child {
  position: absolute;
  top: 765px;
  left: 593px;
  border: 4px solid #fff;
  box-sizing: border-box;
  width: 265px;
  height: 159px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1158px;
}
.ecom {
  width: 100%;
  position: relative;
  background-color: #feefcb;
  height: 4670px;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: "Anonymous Pro";
}

img:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
}

p:hover, i:hover, b:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
}

.shop-container {
  display: inline-block;
  border: 2px solid black; 
}

.shop-container:hover .shop {
  transform: scale(1.1); 
}




